/* .header--blog {
    position: static;
}

main {
    width: 100%;
    height: auto;
}
.main__blog-container {
    width: 90%;
    min-width: 280px;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
}
    .main__blog-body,
    .main__img-container {
        width: 100%;
        min-width: 220px;
        margin: 0;
    }
        .main__img-container img {
            width: 100%;
            height: auto;
        }
        .main__blog-body span {
            font-weight: bold;
            font-size: 1.4rem;
            line-height: 1.6rem;
        }
        .main__blog-title {
            font-size: 3.5rem;
            font-weight: 700;
            line-height: 1.8rem;
        }
        .main__blog-body p {
            text-align: justify;
            font-size: 1.6rem;
            line-height: 2rem;
            font-family: 'Roboto Mono', monospace;
        }
    
    /* .main__contact {
        width: 100%;
        height: auto;
        background-color: #e6e9ed;
    }
        .main__contact-wrap {
            width: 90%;
            min-width: 300px;
            max-width: 1200px;

            padding: 20px auto;
            margin: 0 auto;

            display: grid;
            grid-auto-rows: 1fr;
            grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
            justify-items: center;
            align-items: center;
            gap: 10px;
        }
        .main__contact-container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 20px auto;
        }
            .contact__img-container {
                width: 100px;
                margin: 0;
            }
            .contact__img-container img {
                width: 100%;
                height: auto;
            }

        .contact__text-container {
            width: 60%;
            margin-left: 20px;
            align-self: center;
        }
            .contact--text {
                font-weight: bold;
                font-size: 1.6rem;
            }
            .contact__text-container a {
                display: inline-block;
                color: var(--black);
                border-bottom: 1px solid black;
            }
     */ 