@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  font-family: "Roboto Mono", monospace;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
}

.header {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/img/Cover.png");
  /* Center the image */
  background-position: center;
  /* Do not repeat the image */
  background-repeat: no-repeat;
  /* Resize the background image to cover the entire container */
  background-size: cover;
}
.header .header__nav {
  min-width: 300px;
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header__nav .header__nav--logo {
  flex: 1 0 0;
}
.header .header__nav .header__nav--menu {
  flex: 1 0 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header .header__title {
  text-align: center;
  color: #47cfac;
  margin-block: 50vh;
  margin-inline: auto;
}