@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
.button {
  position: relative;
  background-color: #000000;
  min-height: 40px;
}
.button a {
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #5b63b7;
  display: grid;
  place-content: center;
  color: #000000;
  font-weight: 700;
}
.button:hover > a {
  transform: translate(-5px, -5px);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main__projects > div .projects--tittel {
  text-align: center;
  margin-block-end: 3rem;
}
.main__projects > div .projects--tittel > span {
  color: #5b63b7;
}
.main__projects > div .projects--tittel > span::after {
  content: " 🧐";
}
.main__projects > div .projects-wraper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-flow: dense;
}
.main__projects > div .projects-wraper .project-card {
  box-shadow: 0px 0px 31px 15px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  background-color: #d6d6d6;
}
.main__projects > div .projects-wraper .project-card .img-container {
  -o-object-fit: cover;
     object-fit: cover;
}
.main__projects > div .projects-wraper .project-card .info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
}
.main__projects > div .projects-wraper .project-card .info-container .project-button {
  width: 90%;
  margin-block: 1rem;
}

.button {
  position: relative;
  background-color: #000000;
  min-height: 40px;
}
.button a {
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #5b63b7;
  display: grid;
  place-content: center;
  color: #000000;
  font-weight: 700;
}
.button:hover > a {
  transform: translate(-5px, -5px);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header {
  transition: all 0.3s;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: rgba(214, 214, 214, 0.96);
  min-height: 10rem;
  display: flex;
  align-items: center;
}
.header > [class*=header__] {
  min-width: 280px;
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
}
.header .header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header__nav .logo--container {
  z-index: 20;
}
.header .header__nav .menuItem--container {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 10%;
}
.header .header__nav .menuItem--container li > a:not(.cta-nav) {
  color: #5b63b7;
  font-weight: 700;
  position: relative;
}
.header .header__nav .menuItem--container li > a:not(.cta-nav)::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 100%;
  height: 0;
  background-color: #000000;
  clear: both;
  bottom: -10%;
  transition: all 0.2s;
  z-index: -1;
}
.header .header__nav .menuItem--container li > a:not(.cta-nav):hover::before {
  height: 50%;
  bottom: -10%;
}
.header .header__nav .menuItem--container li > a.cta-nav {
  color: #5b63b7;
  font-weight: 700;
  position: relative;
}
.header .header__nav .menuItem--container li > a.cta-nav::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 100%;
  height: 12px;
  background-color: #5b63b7;
  clear: both;
  bottom: -5%;
  z-index: -1;
}
.header .menu--item a {
  color: #5b63b7;
  font-weight: 700;
  position: relative;
}
.header .menu--item a::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 100%;
  height: 0;
  background-color: #000000;
  clear: both;
  bottom: -10%;
  transition: all 0.2s;
  z-index: -1;
}
.header .menu--item a:hover::before {
  height: 50%;
  bottom: -10%;
}
.header .logo {
  display: block;
  width: 80px;
  height: 40px;
  background-image: url("../assets/svg/EA_logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.2s;
}
.header .logo:hover {
  transform: scale(1.1);
}
.header .buttonMode {
  width: 80px;
  height: 40px;
  background-image: url("../assets/svg/buttonOff_mode.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  gap: 2px;
}
.header .buttonMode > button {
  flex: 1 0 0;
  height: 80%;
  width: 40%;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
.header .nav-button {
  z-index: 10;
  height: 30px;
  width: 30px;
  background: none;
  outline: none;
  border: none;
}
.header .nav-button::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #5b63b7;
  clear: both;
  transition: all 0.4s;
}
.header .nav-button::after {
  content: "";
  display: inline-block;
  width: 80%;
  height: 2px;
  background-color: #5b63b7;
  clear: both;
  transition: all 0.3s;
  transform: translateX(10%);
}
.header .nav-button-active {
  height: 30px;
  width: 30px;
  background: none;
  outline: none;
  border: none;
  z-index: 20;
}
.header .nav-button-active::before {
  transform: translateY(220%) rotate(45deg);
}
.header .nav-button-active::after {
  width: 100%;
  transform: translateY(-540%) rotate(-45deg);
}
.header .mobileMenu {
  animation: menuDeploy;
  position: fixed;
  background: rgba(214, 214, 214, 0.96);
  top: 0;
  right: 0;
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 3rem;
  padding-block-start: 5rem;
  padding-block-end: 3rem;
}
.header .mobileMenu .mobileMenu__itemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
@media screen and (max-width: 670px) {
  .header .mobileMenu {
    inset: 0;
    width: 100vw;
    height: 100vh;
    padding-inline: 3rem;
    padding-block-start: 8rem;
    padding-block-end: 5rem;
  }
}
.header #mobileMenu:not(.open) {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
@media screen and (min-width: 767px) {
  .header .header__nav > *:not(.desktopOn) {
    display: none;
  }
  .header .header .nav--mobile {
    display: none;
  }
}
@media screen and (max-width: 766px) {
  .header .header__nav > *:not(.mobileOn) {
    display: none;
  }
}

.header .static {
  box-shadow: none;
}

.button {
  position: relative;
  background-color: #000000;
  min-height: 40px;
}
.button a {
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #5b63b7;
  display: grid;
  place-content: center;
  color: #000000;
  font-weight: 700;
}
.button:hover > a {
  transform: translate(-5px, -5px);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.button {
  position: relative;
  background-color: #000000;
  min-height: 40px;
}
.button a {
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #5b63b7;
  display: grid;
  place-content: center;
  color: #000000;
  font-weight: 700;
}
.button:hover > a {
  transform: translate(-5px, -5px);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main__about > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 4rem;
}
.main__about > div > p {
  margin-block-start: 1rem;
  color: #5b63b7;
  font-size: 12px;
}
.main__about > div .about--imgContainer {
  display: flex;
  justify-content: center;
  margin-block: 2rem;
  background-image: url("../assets/svg/about-img-bg_about.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.main__about > div .about--imgContainer img {
  width: 30%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer {
  background-color: #5b63b7;
  padding-block-end: 3rem;
}
.footer > [class*=footer__] {
  min-width: 280px;
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
}

.button {
  position: relative;
  background-color: #000000;
  min-height: 40px;
}
.button a {
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #5b63b7;
  display: grid;
  place-content: center;
  color: #000000;
  font-weight: 700;
}
.button:hover > a {
  transform: translate(-5px, -5px);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main__hero {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__hero .wrap--section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .main__hero .wrap--section .hero--text {
    flex: 1.5 0 0;
    padding-inline-end: 5rem;
  }
}
@media screen and (min-width: 1024px) {
  .main__hero .wrap--section .hero--text {
    padding-inline-end: 10rem;
  }
}
.main__hero .wrap--section .hero--text h1 span {
  color: #5b63b7;
}
.main__hero .wrap--section .hero--text p {
  margin-block-start: 1rem;
  color: #5b63b7;
  font-size: 16px;
  max-width: 550px;
}
.main__hero .wrap--section .hero--text p a {
  color: #5b63b7;
}
.main__hero .wrap--section .hero--text p a:hover {
  color: #ed5e93;
}
.main__hero .wrap--section .hero--text > .button {
  margin-block-start: 3rem;
  width: 40%;
  max-width: 250px;
}
@media screen and (max-width: 768px) {
  .main__hero .wrap--section .hero--text > .button {
    width: 90%;
  }
}
.main__hero .wrap--section .hero--imgContainer {
  margin-block: 2rem;
}
@media screen and (min-width: 768px) {
  .main__hero .wrap--section .hero--imgContainer {
    flex: 1 0 0;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  position: relative;
  font-family: "Poppins", sans-serif;
  color: #000000;
  background-color: #d6d6d6;
}

a {
  text-decoration: none;
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  a {
    font-size: 16px;
  }
}
@media screen and (min-width: 1024px) {
  a {
    font-size: 16px;
  }
}

p {
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  p {
    font-size: 24px;
  }
}
@media screen and (min-width: 1024px) {
  p {
    font-size: 28px;
  }
}

img {
  width: 100%;
}

li {
  list-style: none;
}

h1 {
  font-size: 28px;
  letter-spacing: 0.05rem;
  font-weight: 700;
  line-height: 33.6px;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 32px;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 40px;
  }
}
@media screen and (min-width: 768px) {
  h1 {
    line-height: 38.4px;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    line-height: 48px;
  }
}

h2 {
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 28px;
  }
}
@media screen and (min-width: 1024px) {
  h2 {
    font-size: 32px;
  }
}

h3 {
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 24px;
  }
}
@media screen and (min-width: 1024px) {
  h3 {
    font-size: 28px;
  }
}

.main {
  z-index: 1;
}
.main > section {
  padding-block-start: 10rem;
}
.main > section > .wrap--section {
  min-width: 280px;
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
}