@import 'utils';

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ed5e93;
    &>[class*="footer__"] {
        @include responsive-size(280px, 80%, 1440px);
    }
}