@import 'utils';


.header {
    position: fixed;
    top: 0;
    z-index: 11;
    width: 100%;
    // background-color: $primary-color;
    min-height: $nav-height;
    display: flex;
    align-items: center;
    &>[class*="header__"] {
        @include responsive-size(280px, 80%, 1440px);
    }
    .header__nav {
        position: relative;
        font-size: size(2);
        .header__nav--menu {
            width: 50%;
            margin: 0 auto;
            // height: $margin-block-unit*10;
            // display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 10%;
            &>li {
                a:not(.cta-nav) {
                    color: $black;
                    font-weight: 700;
                    @include hover-nav-options($purple);
                }
                .cta-nav {
                    color: $black;
                    font-weight: 700;
                    @include cta-nav-options();
                }
            }
}
    }
    // --------------------
    .nav--menu-mobile.open{
        display: flex;
    }
    .nav--menu-mobile {
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
    
            position: fixed;
            inset: 0;
            width: 100vw;
            height: 100vh;
            padding: $margin-block-unit*5;
            // background-color: $; 
            li {
                a {
                    color: $black;
                }
            }
            &>ul {
                display: flex;
                flex: 1 0 0;
                width: 100%;
            }
            .menu--options {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: $margin-block-unit*3;
                li {
                    width: 50%;
                    a {
                        @include hover-nav-options($purple);
                    }
                }
            }
            .contact--list {
                justify-content: space-around;
                align-items: center;
                &::before {
                    content: "Say Hello";
                    position: absolute;
                    top: 55%;
                    color: $purple;
                    opacity: 0.5;
                    font-size: size(3);
                    font-weight: 700;
                }
                li {
                    width: 50%;
                    a {
                        @include hover-nav-options($purple);
                    }
                }
            }
    }
    // -------------------
    .header__nav-responsive {
        // display: flex;
        align-items: center;
        justify-content: space-between;
        // height: $margin-block-unit*6;
        .cta-nav {
            color: $black;
            font-weight: 700;
            @include cta-nav-options();
        }
        .nav-button { 
            @include nav-button-reset(30px, 30px);
            
            &::before {
                @include reset-pseudo(100%, 2px, $purple);
                transition: all 0.4s;
            }
            &::after {
                @include reset-pseudo(80%, 2px, $purple);
                transition: all 0.3s;
                transform: translateX(10%);
            }
        }
        .nav-button-active { 
            @include nav-button-reset(30px, 30px);
            &::before {
                transform: translateY(220%) rotate(45deg);
            }
            &::after {
                width: 100%;
                transform: translateY(-540%) rotate(-45deg);
            }
        }
    }
    // ---------------------
}

@media screen and (max-width: 767px) { //ancho maximo
    .header__nav--menu {
        display: none;
    }    
    .header__nav-responsive {
        display: flex;
    }
}

@media screen and (min-width: 768px) { // ancho minimo
    .header__nav--menu {
        display: flex;
    }
    .header__nav-responsive {
        display: none;
    }
}