@import 'utils';

// .header-active {
//     height: 100vh;
//     background-color: rgba($primary-color, 0.96);
// }

.header {
    // * {outline: 1px dashed $mex-pink;}
    // outline: 1px dashed $mex-pink;
    transition: all 0.3s;
    position: fixed;
    top: 0;
    z-index: $layout2;
    width: 100%;
    background-color: rgba($primary-color, 0.96);
    min-height: $nav-height;
    display: flex;
    align-items: center;

    &>[class*="header__"] {
        @include responsive-size(280px, 80%, 1440px);
    }

    .header__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo--container {
            z-index: $layout3;
        }
        .menuItem--container {
            display: flex;
            justify-content: center;
            text-align: center;
            gap: 10%;

            li>a:not(.cta-nav) {
                color: $purple;
                font-weight: 700;
                @include hover-nav-options($purple);
            }
            li>a.cta-nav {
                color: $purple;
                font-weight: 700;
                @include cta-nav-options();
            }
        }
    }

    .menu--item {
        a{
            color: $purple;
            font-weight: 700;
            @include hover-nav-options($purple);
        }
    }

    .logo {
        display: block;
        width: $h1-font-size-large*2;
        height: $h1-font-size-large;
        background-image: url('../assets/svg/EA_logo.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        transition: all 0.2s;
        &:hover {
            transform: scale(1.1);
        }
    }

    .buttonMode {
        width: $h1-font-size-large*2;
        height: $h1-font-size-large;
        background-image: url('../assets/svg/buttonOff_mode.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        display: flex;
        align-items: center;
        gap: 2px;
        &>button {
            flex: 1 0 0;
            @include nav-button-reset(40%,80%);
            cursor: pointer;
        }
    }

    .nav-button { 
        z-index: $layout2;
        @include nav-button-reset(30px, 30px);
        
        &::before {
            @include reset-pseudo(100%, 2px, $purple);
            transition: all 0.4s;
        }
        &::after {
            @include reset-pseudo(80%, 2px, $purple);
            transition: all 0.3s;
            transform: translateX(10%);
        }
    }
    .nav-button-active { 
        @include nav-button-reset(30px, 30px);
        &::before {
            transform: translateY(220%) rotate(45deg);
        }
        &::after {
            width: 100%;
            transform: translateY(-540%) rotate(-45deg);
        }
        z-index: $layout3;
    }

    .mobileMenu {
        // transition: all 0.3s linear;
        animation: menuDeploy;
        position: fixed;
        background: rgba($primary-color, 0.96);
        // background: rgba(red, 0.96);
        top: 0;
        right: 0;
        width: 50vw;
        height: 100vh;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding-inline: $margin-block-unit*3;
        padding-block-start: $margin-block-unit*5;
        padding-block-end: $margin-block-unit*3;
        .mobileMenu__itemContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: $margin-block-unit*2;
        }
        @media screen and (max-width:670px) {
            inset: 0;
            width: 100vw;
            height: 100vh;
            padding-inline: $margin-block-unit*3;
            padding-block-start: $margin-block-unit*8;
            padding-block-end: $margin-block-unit*5;
        }
    }
    #mobileMenu:not(.open) {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    @media screen and (min-width: 767px) { //ancho maximo
        .header__nav {
            &>*:not(.desktopOn) {
                display: none;
            }
        }
        .header {
            .nav--mobile{display: none;}
        }
    }
    @media screen and (max-width: 766px) {
        .header__nav {
            &>*:not(.mobileOn) {
                display: none;
            }
        }
    }
    // --------------------
    // .nav--menu-mobile {
    //     transition: all 0.3s;
    //     position: fixed;
    //     right: 0%;
    //     top: 0;
    //     bottom: 0;
    //     width: 0vw;
    //     height: 100vh;
    //     background-color: rgba($primary-color, 0.7);

    //     outline: 1px dashed $mex-pink;
        
    //     .content {
    //         *{outline: 1px dashed $mex-pink;}
    //         position: absolute;
    //         right: 0;
    //         // background-color: $primary-color; 
    //         background-color: red; 
    //         padding: $margin-block-unit*5;
    //         width: 70%;
    //         height: 100vh;

    //         display: flex;
    //         flex-direction: column;
    //         align-items: center;
    //         justify-content: space-around;

    //         text-align: center;
    //         li {
    //             a {
    //                 color: $black;
    //             }
    //         }
    //         &>ul {
    //             display: flex;
    //             flex: 1 0 0;
    //             width: 100%;
    //         }
    //         .menu--options {
    //             flex-direction: column;
    //             align-items: center;
    //             justify-content: center;
    //             gap: $margin-block-unit*3;
    //             li {
    //                 width: 50%;
    //                 a {
    //                     @include hover-nav-options($purple);
    //                 }
    //             }
    //         }
    //         .contact--list {
    //             justify-content: space-around;
    //             align-items: center;
    //             &::before {
    //                 content: "Say Hello";
    //                 position: absolute;
    //                 top: 55%;
    //                 color: $purple;
    //                 opacity: 0.5;
    //                 font-size: size(3);
    //                 font-weight: 700;
    //             }
    //             li {
    //                 width: 50%;
    //                 a {
    //                     @include hover-nav-options($purple);
    //                 }
    //             }
    //         }
    //     }
    // }
    // .nav--menu-mobile-active{
    //     // transform: translateX(-100%);
    //     width: 100vw;
    // }
    // @media  screen and (max-width: 767px) {
        
    // }

    // -------------------
    // .header__nav-responsive {
    //     // display: flex;
    //     align-items: center;
    //     justify-content: space-between;
    //     // height: $margin-block-unit*6;
        
    // }
    // ---------------------
}

.header {
    .static {
        box-shadow: none
    }
}

// @media screen and (max-width: 767px) { //ancho maximo
//     .header__nav--menu {
//         display: none;
//     }    
//     .header__nav-responsive {
//         display: flex;
//     }
// }

// @media screen and (min-width: 768px) { // ancho minimo
//     .header__nav--menu {
//         display: flex;
//     }
//     .header__nav-responsive {
//         display: none;
//     }
// }