@import 'utils';

.main__hero {
    // height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .wrap--section{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    
        // *{outline: 1px solid blue;}
    
        .hero--text {
            @media screen and (min-width: 768px) {
                flex: 1.5 0 0 ;
                padding-inline-end: $margin-block-unit*5;
            }
            @media screen and (min-width: 1024px) {
                padding-inline-end: $margin-block-unit*10;
            }
            h1 {
                span {
                    color: $purple,
                }
            }
            p {
                margin-block-start: $margin-block-unit;
                color: $purple;
                font-size: size(2);
                max-width: 550px;
                a {
                    color: $purple;
                    @include hover-links($mex-pink);
                }
            }
            // ---------------
            &>.button {
                margin-block-start: $margin-block-unit*3;
                width: 40%; 
                max-width: 250px;
                @media screen and (max-width: 768px) {
                    width: 90%;
                }
            }
        }
        .hero--imgContainer {
            @media screen and (min-width: 768px) {
                flex: 1 0 0 ;
            }
            margin-block: $margin-block-unit*2;
        }
    }
}