@import 'utils';

.main__projects {
    .projects--tittel {
        text-align: center;
        margin-block-end: $margin-block-unit*3;
        &>span {
            color: $purple;
            &::after{
                content: " 🧐";
            }
        }
    }

    .projects-wraper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-auto-flow: dense;
        .project-card {
            box-shadow:  $shadow;
            margin: $margin-block-unit;
            background-color: $light-gray;
            // border: 2px solid $black;
            .img-container {
                object-fit: cover;
            }
            .info-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                color: $black;
                .project-button {
                    width: 90%;
                    margin-block: $margin-block-unit;
                }
            }
        }
    }
}
