// @import 'button';
// @import 'config';
@import 'utils';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

$primary-color: #5b63b7;
$black: #000000;
$light-gray: #e6e6e6;
$mex-pink: #ed5e93;
$light-purple: #9296f0;

// $box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.6);
$limit: 10;
$unit: 8px;
$primary-font: 'Poppins', sans-serif;
$margin-block-unit: 1rem;

@mixin reset-pm {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin reset-pseudo($width,$height, $color) {
    content: "";
    display: inline-block;
    width: $width;
    height: $height;
    background-color: $color;
}

@mixin nav-button-reset($width, $height) {
    height: $height;
    width: $width;
    background: none;
    outline: none;
    border: none;
}

@mixin reset-button($background-c, $padding) {
    background: $background-c;
    outline: none;
    border: none;
    padding-inline: $padding;
    padding-block: $padding/2;
}

@mixin responsive-size($min,$value,$max) {
    min-width: $min;
    max-width: $max;
    width: $value;

    margin: 0 auto;
}

@mixin flex-container($direction, $aling, $justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $aling;
    justify-content: $justify;
}

* {
    @include reset-pm();
    // outline: 0.5px dashed $mex-pink;
}

@function size($value) {
    @return $value * $unit ;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    position: relative;
    font-family: $primary-font;
    color: $light-gray;
}

a {
    color: $light-gray;
    text-decoration: none;
    font-size: size(2);
}
p {
    font-size: size(2);
    max-width: 600px;
    // margin: 0 auto;
}
img {
    width: 100%;
    // height: 100%;
}
li {
    list-style: none;
}
h1 {
    font-size: size(6);
    letter-spacing: 0.05rem;
    font-weight: 700;
    line-height: size(5) * 1.2;
    margin-block-end: $margin-block-unit;
    margin-block-start: $margin-block-unit*3;
}

.header {
    padding-block-end: $margin-block-unit*3;
    background-color: $primary-color;
    &>[class*="header__"] {
        @include responsive-size(280px, 80%, 1440px);
    }

    .header__nav {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center ;
        min-height: 5rem;
        font-size: size(2);
        .header__nav--logo {
            color: $mex-pink;
            
        }
        .header__nav--menu {
            flex-basis: 50%;
            justify-content: end;
            text-align: end;
            &>li {
                flex: 1 0 0;
                transition: all 0.3s;
                &>a {
                    position: relative;
                    &::before {
                        position: absolute;
                        content: " ";
                        background-color: $mex-pink;
                        bottom: -10%;
                        left: 50%;
                        width: 0;
                        height: 5px;
                        transition: all 0.5s;
                    }
                    &:hover::before {
                        left: -0%;
                        width: 100%;
                    }
                    &:hover {
                        color: $mex-pink
                    }
                }
            }
        }

        .nav--menu-mobile.open{
            display: flex;
        }
        .nav--menu-mobile {
            // display: flex;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
    
            position: fixed;
            inset: 0;
            width: 100vw;
            height: 100vh;
            padding: $margin-block-unit*5;
            background-color: $light-gray;
            li {
                a {
                    color: $mex-pink;
                }
            }
            &>ul {
                display: flex;
                flex: 1 0 0;
                width: 100%;
            }
            .menu--options {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: $margin-block-unit*3;
                li {
                    width: 50%;
                }
            }
            .contact--list {
                justify-content: space-around;
                align-items: center;
                &::before {
                    content: "Say Hello";
                    position: absolute;
                    top: 55%;
                    color: $mex-pink;
                    opacity: 0.5;
                    font-size: size(3);
                    font-weight: 700;
                }
            }
        }

        .nav-button{
            @include nav-button-reset(30px, 30px);
            &::before {
                @include reset-pseudo(100%, 2px, $mex-pink);
                transition: all 0.3s;
            }
            &::after {
                @include reset-pseudo(80%, 2px, $mex-pink);
                transition: all 0.3s;
                transform: translateX(10%);
            }
        }
        .nav-button-active{
            @include nav-button-reset(30px, 30px);;
            &::before {
                @include reset-pseudo(100%, 2px, $mex-pink);
                transform: translateY(400%) rotate(45deg);
            }
            &::after {
                @include reset-pseudo(100%, 2px, $mex-pink);
                transform: translateY(-400%) rotate(-45deg);
            }
        }
    }

    .header__cover {
        flex-grow: 1;
        // // ----------
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &>[class*="header__cover--"] {
            // En pantallas más grandes, cada subsección ocupa el 50% del ancho
            @media (min-width: 768px) {
                width: 50%; 
            }
        }
        .header__cover--text {
            .cover__link--contact {
                width: fit-content;
                margin-block-end: $margin-block-unit;
                display: flex;
                gap: 2px;
                align-items: center;
                transition: all 0.3s;
                &>a {
                    font-size: size(1.5);
                    color: $mex-pink;
                }
                &>span {
                    font-size: size(2);
                    color: $mex-pink;
                    cursor: pointer;
                }
                &:hover {
                    transform: translateX(10%);
                }
            }
        }
        .header__cover--imgContainer {
            margin-block: $margin-block-unit;
        }
    }
}

.main {
    // height: 100vh;
    padding-block: $margin-block-unit*3;
    // background-color: $light-gray;
    background-color: $primary-color;
    
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ed5e93;
    &>[class*="footer__"] {
        @include responsive-size(280px, 80%, 1440px);
    }
}

@media (max-width: 768px) {
    .header__nav--menu {
        display: none;
    }
}
@media (min-width: 767px) {
    .header__nav-responsive {
        display: none;
    }
    .header__nav--menu {
        display: flex;
    }
}

// /* FOOTER REUTIZAR */
// footer {
//     width: 100%;
//     height: auto;
//     padding: 32px 0;
//     background-color: var(--green-aqua);

//     display: grid;
//     grid-auto-rows: 1fr;
//     grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
// }
// .footer--home {
//     position: absolute;
//     bottom: 0;
//     transform: translateY(100%);
//     left: 0;
//     width: 100vw;
//     height: auto;
//     padding: 32px 0;
//     background-color: var(--green-aqua);

//     display: grid;
//     grid-auto-rows: 1fr;
//     grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
// }
//     footer p {
//         margin: 0 auto;
//         align-self: center;
//         font-size: 1.2rem;
//         line-height: 1.6rem;
//         font-weight: 500;
//     }
//     .icons__container {
//         /* width: 100%; */
//         min-width: 300px;
//         height: auto;
//         display: grid;
//         grid-template-columns: repeat(auto-fit,minmax(max-content,70px));
//         grid-auto-rows: 1fr;
//         justify-content: center;

//         list-style: none;
//         margin: 0;
//         padding: 0;
//     }
//             .icons__link--container {
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//             }
//             .icons__link--container span {
//                 color: var(--just-white);
//             }
//             .icons__link--container span:hover {
//                 color: #C7CDCC;
//             }
    
//             .main__contact {
//                 width: 100%;
//                 height: auto;
//                 background-color: #e6e9ed;
//             }
//                 .main__contact-wrap {
//                     width: 90%;
//                     min-width: 300px;
//                     max-width: 1200px;
        
//                     padding: 20px auto;
//                     margin: 0 auto;
        
//                     display: grid;
//                     grid-auto-rows: 1fr;
//                     grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
//                     justify-items: center;
//                     align-items: center;
//                     gap: 10px;
//                 }
//                 .main__contact-container {
//                     width: 100%;
//                     display: flex;
//                     align-items: center;
//                     justify-content: center;
//                     margin: 20px auto;
//                 }
//                     .contact__img-container {
//                         width: 100px;
//                         margin: 0;
//                     }
//                     .contact__img-container img {
//                         width: 100%;
//                         height: auto;
//                     }
        
//                 .contact__text-container {
//                     width: 60%;
//                     margin-left: 20px;
//                     align-self: center;
//                 }
//                     .contact--text {
//                         font-weight: bold;
//                         font-size: 1.6rem;
//                     }
//                     .contact__text-container a {
//                         display: inline-block;
//                         color: var(--black);
//                         border-bottom: 1px solid black;
//                     }
