@import 'projects';
@import 'header';
@import 'utils';
@import 'about';
@import 'footer';
@import 'hero';

* {
    @include reset-pm();
    // outline: 0.5px dashed $mex-pink;
}

html {
    font-size: 62.5%;
    // border: 1px solid black;
}

body {
    width: 100%;
    position: relative;
    font-family: $primary-font;
    color: $black;
    background-color: $primary-color;
}

a {
    text-decoration: none;
    // font-size: size(2);
    @include font-size($a-font-size-small, $a-font-size-medium, $a-font-size-large);
}
p {
    // font-size: size(2);
    @include font-size($p-font-size-small, $p-font-size-medium, $p-font-size-large);
}
img {
    width: 100%;
}
li {
    list-style: none;
}
h1 {
    // font-size: size(6);
    @include font-size($h1-font-size-small, $h1-font-size-medium, $h1-font-size-large);
    letter-spacing: 0.05rem;
    font-weight: 700;

    line-height: $h1-font-size-small*1.2;
    @media screen and (min-width: $breakpoint-medium) {
        line-height: $h1-font-size-medium*1.2;
    }
    @media screen and (min-width: $breakpoint-large) {
        line-height: $h1-font-size-large*1.2;
    }
}
h2 {
    @include font-size($h2-font-size-small, $h2-font-size-medium, $h2-font-size-large);
}
  
h3 {
    @include font-size($h3-font-size-small, $h3-font-size-medium, $h3-font-size-large);
}

.main { 
    // margin-block: $margin-block-unit*10;
    &>section {
        @include responsive-size(280px, 80%, 1440px);
        padding-block-start: $nav-height;
        // &::before {
        //     @include reset-pseudo(100%, $nav-height,transparent);
        // }
    }
}

// /* FOOTER REUTIZAR */
// footer {
//     width: 100%;
//     height: auto;
//     padding: 32px 0;
//     background-color: var(--green-aqua);

//     display: grid;
//     grid-auto-rows: 1fr;
//     grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
// }
// .footer--home {
//     position: absolute;
//     bottom: 0;
//     transform: translateY(100%);
//     left: 0;
//     width: 100vw;
//     height: auto;
//     padding: 32px 0;
//     background-color: var(--green-aqua);

//     display: grid;
//     grid-auto-rows: 1fr;
//     grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
// }
//     footer p {
//         margin: 0 auto;
//         align-self: center;
//         font-size: 1.2rem;
//         line-height: 1.6rem;
//         font-weight: 500;
//     }
//     .icons__container {
//         /* width: 100%; */
//         min-width: 300px;
//         height: auto;
//         display: grid;
//         grid-template-columns: repeat(auto-fit,minmax(max-content,70px));
//         grid-auto-rows: 1fr;
//         justify-content: center;

//         list-style: none;
//         margin: 0;
//         padding: 0;
//     }
//             .icons__link--container {
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//             }
//             .icons__link--container span {
//                 color: var(--just-white);
//             }
//             .icons__link--container span:hover {
//                 color: #C7CDCC;
//             }
    
//             .main__contact {
//                 width: 100%;
//                 height: auto;
//                 background-color: #e6e9ed;
//             }
//                 .main__contact-wrap {
//                     width: 90%;
//                     min-width: 300px;
//                     max-width: 1200px;
        
//                     padding: 20px auto;
//                     margin: 0 auto;
        
//                     display: grid;
//                     grid-auto-rows: 1fr;
//                     grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
//                     justify-items: center;
//                     align-items: center;
//                     gap: 10px;
//                 }
//                 .main__contact-container {
//                     width: 100%;
//                     display: flex;
//                     align-items: center;
//                     justify-content: center;
//                     margin: 20px auto;
//                 }
//                     .contact__img-container {
//                         width: 100px;
//                         margin: 0;
//                     }
//                     .contact__img-container img {
//                         width: 100%;
//                         height: auto;
//                     }
        
//                 .contact__text-container {
//                     width: 60%;
//                     margin-left: 20px;
//                     align-self: center;
//                 }
//                     .contact--text {
//                         font-weight: bold;
//                         font-size: 1.6rem;
//                     }
//                     .contact__text-container a {
//                         display: inline-block;
//                         color: var(--black);
//                         border-bottom: 1px solid black;
//                     }
